<!DOCTYPE html>

<!--
SPDX-FileCopyrightText: 2021 codedust

SPDX-License-Identifier: EUPL-1.2
-->

<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>ARS-Tool</title>
  <link rel="stylesheet" href="bulma.min.css">
  <link rel="stylesheet" href="ars-tool.css">
  <link rel="stylesheet" href="leaflet/leaflet.css" />
  <link rel="shortcut icon" type="image/svg" href="shape-berlin.svg">
</head>
<body>
  <div id="map"></div>
  <div class="search">
    <input id="search-input" class="input" type="text" placeholder="Nach ARS oder Gebietsbezeichnung suchen..." autofocus>
    <div class="result-wrapper">
      <div class="results"></div>
      <section class="section load-more has-text-centered">
        <a href="#" id="a-load-more"></a>
      </section>
    </div>
  </div>
  <script id="template-result" type="x-tmpl-mustache">
    {{#.}}
    <div class="container result">
      <img src="shape-berlin.svg">
      <p data-urn="{{ ars }}"><strong>{{ name }}</strong> | {{ ars }}</p>
    </div>
    {{/.}}
  </script>
  <script type="text/javascript" src="papaparse.js"></script>
  <script src="mustache.js"></script>
  <script type="text/javascript" src="ars-tool.js"></script>
  <script src="leaflet/leaflet.js"></script>
  <script defer data-api="/api/event" data-domain="opengovtech.de" src="/js/script.manual.js"></script><!-- Plausible analytics -->
</body>
</html>
